.window_boundingBox{
    position: fixed;
    border: 1px solid #000;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    background: #fff;
}
.window_alertBtn{
    width: 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -50px;
}
.window_header{
    font-size: 20px;
    background: #333;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}
.window_footer{
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}
.window_cancelBtn{
    margin-left: 20px;
}
.window_body{
    padding: 10px;
}
.window_closeBtn{
    position: absolute;
    right: 0;
    top: 0;
    background: blue;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

/*skin for a*/
.window_skin_a.window_boundingBox{
    box-shadow: none;
    border: 10px solid rgba(0,0,0,0.3);
    border-radius: 8px;
}
.window_skin_a .window_header{
    background: red;
    text-align:left;
    padding: 10px;
}
.window_skin_a .window_alertBtn{
    right: 20px;
    left: auto;
    margin-left: 0;
    background: red;
    border: none;
    padding: 5px;
    color: #fff;
    border-radius:5px;
}
.window_skin_a .window_closeBtn{
    width: 45px;
    height: 45px;
    border-radius:50%;
    line-height: 45px;
    padding: 0;
    right: -15px;
    top: -15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.window_mask{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
    position: absolute;
    left: 0;
    top: 0;
}
.window_promptInputWrapper{
    text-align: center;
}